.item-main-section{
    width: 100%;
    height: 700px;
    position: relative;
}
    .item-main-section-inner{
        width: 90%;
        height: 75%;
        position: absolute;
        margin: 6%;
    }

    .item:hover, .item1:hover, .item2:hover, .item3:hover{
        box-shadow: 2px 5px 16px 0px;
        background-color: rgb(238, 232, 232);
        border: 1px solid lightgray;
    }
    .item, .item1, .item2, .item3{
        width: 23%;
        height: 90%;
        position: relative;
        background-color: lightgray;
        float: left;
        margin-left: 20px;
    }

    .item-img, .item1-img, .item2-img, .item3-img{
        width: 90%;
        height: 65%;
        position: relative;
        margin: auto;
    }
    .item-img img, .item1-img img, .item2-img img, .item3-img img{
        width: 100%;
        height: 100%;
    }
    .item-info, .item1-info, .item2-info, .item3-info{
        width: 80%;
        height: 35%;
        text-align: center;
        position: relative;
        margin: auto;
    }